.counter-container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.form-control{
    text-align: center;
    margin-top: 10px;
}
.tab-container{
    display: flex;
    justify-content: center;
    
}
.select-all{
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    display: flex;
}
.content{
    max-width: 800px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.btn.btn-dark{
    margin: 0 auto;
}
.li{
    list-style-type: none;
    text-align: left;
    font: 25px italic;
    word-wrap: break-word;
}
.btn.btn-danger{
    margin-left: 30px;
}
.active{
    color: black !important;
    background-color: #beedf9;
    font: 25px italic;
}
.selected{
    background-color: #75e9f8;
    font: 25px italic;
}
.pagination{
    display:flex;
    flex-wrap: wrap;
}